* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
}

.App {
  background-color: #f0f2f5;
  min-width: 320px;
  max-width: 1920px;
  /* width: 100vw; */
}

.app {
  padding: 0;
  margin: 0;
}

:root {
  --blue-facebook: #1877f2;
  --white-space: #f0f2f5;
  --hover-mass: #e7f3ff;
  --size-icons: 2.1em;
}
