* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
}

.App {
  background-color: #f0f2f5;
  min-width: 320px;

  /* width: 100vw; */
}

.app {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.6666em;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

:root {
  --blue-facebook: #1877f2;
  --white-space: #f0f2f5;
  --hover-mass: #e7f3ff;
  --size-icons: 2.1em;
}
